<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETE ROUTE</title>
</head>

<body>
    <h1>DELETE ROUTE</h1>
    <h3>confirm delete</h3>
    <form action="/user/<%= id %>?_method=DELETE" method="post">
        <input type="text" name="password" placeholder="PASSWORD"><br><br>
        <button>submit </button>
    </form>
</body>

</html>