<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>this is edit route</h1>
    <form action="/user/<%= data.id %>?_method=PATCH" method="post">
        <textarea name="username" cols="30" rows="10"><%= data.id %><%= data.username %></textarea>
        <textarea name="password" cols="30" rows="10"><%= data.id %>Enter your password0</textarea>
        <button>sunmit</button>
    </form>
</body>
</html>