<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW LIST</title>
    <style>
        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="url"],
        input[type="number"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        button {
            background-color: #ff6a00;
            color: white;
            border: none;
            padding: 10px 30px;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            margin: auto;
            margin-top: 20px;
        }

        button:hover {
            background-color: #e55a00;
        }

        .label-bold {
            font-weight: bold;
        }

        .label-error {
            color: #d9534f;
            margin-bottom: 10px;
        }

        .input-error {
            border: 1px solid #d9534f;
        }
    </style>    
</head>

<body>
    <div class="form-container">
        <form method="post" action="/listings/new">
            <label for="title-input" class="label-bold">Title:</label>
            <input type="text" id="title-input" class="input-text" name="title" required>

            <label for="description-input" class="label-bold">Description:</label>
            <textarea id="description-input" class="input-text" name="description" required></textarea>

            <label for="image-input" class="label-bold">Image URL:</label>
            <input type="url" id="image-input" class="input-text" name="image" required>

            <label for="price-input" class="label-bold">Price:</label>
            <input type="number" id="price-input" class="input-text" name="price" required>

            <label for="location-input" class="label-bold label-bold">Location:</label>
            <input type="text" id="location-input" class="input-text" name="location" required>

            <label for="country-input" class="label-bold">Country:</label>
            <input type="text" id="country-input" class="input-text" name="country" required>

            <button type="submit" id="form-submit-button">Add Listing</button>

           

        </form>
    </div>



</body>

</html>