<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>

<body>
    <h1>Edit your post</h1>
    <form>
        <input type="text" placeholder="<%= post.username  %>" name="username">
        <br>
        <br>
        <textarea name="content" placeholder="<%= post.content  %>" cols="30" rows="10"></textarea>
        <br>
        <br>
        <button>submit post</button>
    </form>

</body>

</html>